 <div class="user-details">
  <h1> About Me</h1>
  <p> I'm Computer Science (Information Security and Assurance) graduate. Based in Malaysia. I'm interested in cybersecurity once I stepped my foot in degree. 
    I had few experiences participating in CTFs during my study and internship (Check out my LinkedIn). Above all, I'm still beginner, willing to learn more from time to time.</p>
  <h1> My Expertise </h1>
  <p> Beginner to moderate level </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-figma-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-python-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-debian-plain-wordmark colored"></i>
          
      <p></p>
    </div>
</div>
