<div class="user-details">
  <h1> Education and Experience </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/giphy.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Universiti Sains Islam Malaysia</h3>
    <ul>
      <li> Bachelor Of Computer Science With Honours (information
        Security And Assurance)</li>
    </ul>
    <p>I'm so immersed with Web3 back then andd decide to make a Blockchain web application using Solidity for my Final Year Project. The journey was hard ad I hope I can go back and just develop a simple website. However, with a help from Google my new baby is born. Here is a National Digital Identity Management with a simple smart contract.  </p>
    <a class="project-link" href="https://quizzical-newton-21f0a0.netlify.app/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/comp.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NetbyteSEC Sdn Bhd</h3>
    <ul>
      <li> Security Analyst Intern</li>
    </ul>
    <p>As an intern here, I got so much exposure on red team practices. Start from enumerate information, to privilege escalation.  Other than that, m friends and I had working on IVRE project. Since IVRE is an open source software, we configure and customize IVRE according to our Director Manager required which is to scan port 80 and port 445 only. We use Microsoft Azure Virtual Machine, Digital Ocean as server fro IVRE website, and data from NirSoft. Then we export NDIJSON file from IVRE website to SPLUNK for further analysis.   </p>
    <a class="project-link" href="http://www.aturkreatif2022.me/">Check it out</a>
  </div>
</div>
